@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Exo+2:wght@500&family=Lobster&family=Nunito+Sans&family=Playball&family=Poppins:ital@0;1&family=Roboto:ital,wght@1,300&family=Rubik&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Exo+2:wght@500&family=Lobster&family=Nunito+Sans&family=Playball&family=Poppins:ital@0;1&family=Roboto:ital,wght@0,400;1,300&family=Rubik&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Exo+2:wght@500&family=Lobster&family=Nunito+Sans&family=Playball&family=Poppins:ital@1&family=Roboto:ital,wght@0,400;1,300&family=Rubik&family=Source+Code+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;


}
body {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'poppins', sans-serif; 
  
}
ul,li, a, button{
    text-decoration: none;
    font-weight: 500;
    list-style-type: none;
    color: unset;
  
}
/*Typography*/
h1{
    font-family: 'Rubik', serif;
    font-size: clamp(1.9rem, 1.2vw, 2.5rem);
    margin-bottom: 0.5em;
   
}
h2 {
    font-family: 'Rubik', serif;
    font-size: clamp(1.9rem, 1.2vw, 2.5rem);
    margin-bottom: 0.75em;

}
p { 
    font-family: 'rubik', sans-serif;
    font-size: clamp(1rem, 0.8vw, 1rem);
    line-height: 1.5em;
    color: hsl(0, 0%, 47%);
   

}
h3{
    margin-top: 0.75em;
}
h5{
    margin-bottom: 0.5rem;
}

section {
    padding-top: 6rem; 
 
}
/*Animation*/
@keyframes cycling{
    0% { left: -25px; }
    100% { left: 100%; }
  }

/*Nav*/
nav{
    position: fixed;
    display: flex;
    align-items: center;
    color: #666;
    font-family: 'Rubik', sans-serif;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #fff;
    z-index: 1000;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.nav-right .menu{
    display: flex;
    gap: 2em;
   
}
.menu li{
    transition: all 0.3s;
}
.menu li:hover{
    color:rgb(6, 122, 70);
    scale: 1.1;
    border-bottom: 1px solid rgb(6, 122, 70);
}

.logo span{
    color: rgb(6, 122, 70);
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left .logo{
    font-size:1.5rem;
    color: #000;
    font-weight: 600;
}
.nav-left i{
    color: rgb(6, 122, 70);
    font-size: 1.8rem;
    margin-right: 0.3em;

}
   

.button{
    background-color: rgb(6, 122, 70);
    color: #ffff;
    border-style: none;
    font-weight: 500;
    max-width:200px;
    font-weight: 600;
    text-decoration: none; 
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding:0.7rem 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background-color:#000;
    color: #eee;

}
   
  .mobile-btn{
    fill: rgb(6, 122, 70);
    border:none; 
    background-color: transparent;
    cursor: pointer;
    display: none;
 
  }
  .mobile-btn .line{
    transition: y 300ms ease-in 300ms,
     rotate 300ms ease-in, 
     opacity  0ms 300ms;
    transform-origin: center;
  }
  .mobile-btn[aria-expanded="true"] .line{
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  
  }
  
  .mobile-btn[aria-expanded="true"] .top{
    rotate: 45deg;
    y:45px;
  }
  .mobile-btn[aria-expanded="true"] .bottom{
    rotate: -45deg;
    y:45px;
  }
  .mobile-btn[aria-expanded="true"] .middle{
   opacity: 0;
  }
  
  @media screen and (max-width:768px) { 

    .mobile-btn{
        display: block;
     
      
    }

    .menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:rgb(152, 30, 24);
        color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }
    .menu li{
        margin: 16px;
     
     
    }
    .menu li:hover{
        margin: 16px;
        border-bottom: none;
     
     
    }
    .menu.active{
        left: 0;

    }
  
   }
/*Header*/

.container{
    display: grid;
    grid-template-columns:repeat(12, 1fr); 
    grid-template-rows:auto;
    background:url(resources/Fresh\ Salad\ food\ menu\ instagram\ post.png);
    height:800px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Rubik',sans-serif;

}
.box{
 
    color: #ffff;
    display: flex;
    flex-direction: column;
    grid-column:1/6;
    grid-row: 4/9;
    margin-left: 2rem;
   
}
.line{
    margin-bottom: 1.2rem;
}
.text i{
color: rgb(6, 122, 70);
font-size: 5em;
margin-bottom: 1.2rem;

}
@media screen and (max-width: 576px) { 
    .box{
        grid-row: 4/8;
        grid-column: 1/9;
    }
  }

/*Delivery*/
#About{
    margin: 3em;
    text-align: center;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delivery-box{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    
  
}
.delivery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0.4em;
    gap: 0.6vw;
    width: 100%;
    max-width:350px;
    flex-direction: column;
   overflow: hidden;
   text-align: center;
  
}



.delivery-item img{
   width: 100%;
   height: 60%;
   border-radius: 10px;
  

}
/*Recipes*/
#Recipes{
    text-align: center;
    background-color:  rgb(248, 248, 248);
}
.recipes{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}
.recipe-container{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.recipe-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.8em 0.4em;
    gap: 0.6vw;
    width: 100%;
    max-width:350px;
    text-align: center;
}
.recipe-item h3{
    color: #000;
}
.recipes h1{
    text-align: center;
}
.recipe-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/*Reasons*/
#reasons{
    margin: 2rem;
}
.reason-title{
    text-align: center;
  
}
.reason-title p{
    margin-bottom: 0.75rem;
}
.reason-container button{
    max-width: 100%;
    margin-top: 1.1rem;
}
.reason-1, .reason-2 , .reason-3{
    display: flex;
    justify-content:space-around;
    width: 100%;
  
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 1em;
}
.reason-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width:400px;
    text-align: center;
   justify-content: center;
}

.image-container img{
   width:400px;
    height: 320px;
}
/*Reviews*/
#Reviews{
    background-color: #eee;
    padding: 2rem;
    height: 100%;
}
.reviews{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.review-title{
    text-align: center;
    padding-top: 5rem;
}
.review-title h1{
    font-weight:600; 
}
.review-title h1 span{
    color: rgb(6, 122, 70);
}
.review-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5em;
    align-items: center;
    padding:0.8em;
    gap: 0.5vw;
    width: 100%;
    max-width:330px;
    text-align: center;
    background-color: #fff;
    height: 350px;
}
.review-item p{
    padding: 0.5rem;
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.person img{
    width: 80px;
    border-radius: 50%;
}
.star{
    display: flex;
    justify-content: center;
    color:rgb(226, 199, 0);
}
/*banner*/
.divider{
 background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;


}
.banner-container{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.banner-box{

height: 100%;
overflow: hidden;
position: relative;

}
.banner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: all 1s; 
}
.banner-box:is(:hover, :focus-within) .banner-img { transform: scale(1.05); }

.banner-list{
   display: grid;
   gap: 1.5em;
   width:100%;
}
.banner-text{
    position: absolute;
    top: 5%;
    left: 20px;
    
}
.medium-banner .banner-text{
    left:55%;
}
.banner-text p,h3{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  

 
}
.large-banner{
    height: 430px;
}
.small-banner-1, .small-banner-2{
    height: 200px;
}
.medium-banner{
  height:200px;
}



@media screen and (min-width: 767px) { 
    
  .banner-list {
    grid-template-columns: repeat(4, 1fr); 
}

  .large-banner {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .medium-banner {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
   }
 
  
/*footer*/
.footer-1{
    background-image: url(resources/footer-illustration.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid;
    margin-top: 80px;
    height: 80vh;
    padding-top: 150px;
    border-top:1px solid #666;
    overflow-x: hidden;
  
 
}
.footer-1::after{
    content: url(resources/delivery-boy.svg);
    position: relative;
    left: -25px;
    bottom:40px;
    width: 180px;
    animation: cycling 10s linear infinite;


}
.footer-1-text{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 10%;
    color: #666;
    line-height: 3rem;
    gap: 300px;

}
.footer-1-text .title{
   color: #000;
   font-weight: 700;

}
@media screen and (max-width: 767px) { 
.footer-1-text{
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;

}
    .footer-1{
     padding-top: 2rem;
     padding-bottom: 600px;
    }
   }
   .footer-2-container{
   height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
 

   }
   .footer-2-container p{
    padding-right: 0.2rem;
   }